<nav class="site-nav nav-padding">
    <div class="site-nav-left">
        {{> "algolia-search"}}
    </div>
    <div class="site-nav-middle">
        {{#if @site.logo}}
        <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
        {{else}}
        <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
        {{/if}}
    </div>
    <div class="site-nav-right main-nav">
        <div class="main-nav-group">
            {{#if @site.navigation}}
            {{navigation}}
            {{/if}}
        </div>
    </div>
    <button class="site-nav-right toggle-button-nav" id="checkout-button-sku_GvCnSmqAJ5bJKH">
        Donate
    </button>
</nav>

{{#contentFor "scripts"}}
<script>
    (function () {
        var stripe = Stripe('pk_live_E6Z6xPM8pEsJziHW905zpAvF');
        var checkoutButton = document.getElementById('checkout-button-sku_GvCnSmqAJ5bJKH');
        checkoutButton.addEventListener('click', function () {
            stripe.redirectToCheckout({
                items: [{ sku: 'sku_GvCnSmqAJ5bJKH', quantity: 1 }],
                successUrl: 'https://www.freecodecamp.org/news/thank-you-for-donating/',
                cancelUrl: 'https://www.freecodecamp.org/news/',
            })
                .then(function (result) {
                    if (result.error) {
                        var displayError = document.getElementById('error-message');
                        displayError.textContent = result.error.message;
                    }
                });
        });
    })();
</script>
{{/contentFor}}